body {
    background-color: black;
}

.background {    
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.title {
    color: white;
    font-family: monospace;
    font-size: 1em;
}

.skills {
    width: auto;    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.icon {
    font-size: 3em;
}

.icon-navbar {
    color: white;
    font-size: 1.7em;
}

.javasScript {    
    background-color: #212529;
}   

i:hover::before {
    transform: scale(1.9);
    box-shadow: 0 0 10px black;
    color: white;
    
}

.webDevelober {
    margin-left: 6px;
    color: #737272;
    font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
    .icon {
        font-size: 2em;
    }
}